/* Font Family  */
@font-face {
    font-family: 'Poppins';
    src: url("font-family/Poppins/Poppins-Medium.ttf");
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: .3s;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    transition: 1s;
}

.container {
    max-width: 1100px;
    margin: auto;
    z-index: 1;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}

header .logo {
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    z-index: 1;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li a {
    margin: 0 10px;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid transparent;
}

header ul li a.login {
    border: 1px solid #fff;
}

header ul li a.login:hover {
    background: #fff;
    color: #000;
}


header ul li a.login::before {
    display: none;
}

header ul li a::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    transform: rotate(-40deg);
    background: linear-gradient(#ffffff00, #ffffff36, #ffffff00);
}


header ul li a:hover::before { 
    left: 0;
}

header ul li a:hover {
    border: 1px solid #ffffff73;
}

.login-form {
    max-width: 400px;
    width: 100%;
    margin: 200px auto;
    background: #ffffff13;
    padding: 2rem;
    backdrop-filter: blur(20px);
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 20px #22222265;
    border: 1px solid #ffffff1c;
    transition: 1s;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form .input-group {
    height: 50px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    position: relative;
    border-bottom: 3px solid #fff;
}


.login-form .input-group input {
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px 10px;
    background: transparent;
}

.login-form .input-group input::placeholder {
    opacity: 0;
}

.login-form .input-group label {
    position: absolute;
    left: 10px;
    top: 12px;
    pointer-events: none;
}

.login-form .input-group button {
    border: 0;
    background: transparent;
    padding: 0 10px;
    outline: none;

}

.login-form .input-group button svg {
    height: 26px;
    width: 26px;

}

.login-form .input-group button svg path {
    stroke: #fff;
}

.login-form .input-group input:focus + label,
.login-form .input-group input:not(:placeholder-shown) + label {
    top: -4px;
    font-size: 13px;
}

.login-form .remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0px;
}

.login-form .checkbox-group {
    display: flex;
    align-items: center;
}

.login-form .checkbox-group label {
    font-size: 14px;
    margin-left: 4px;
}

.login-form .remember a {
    text-decoration: none;
    font-size: 14px;
}

.login-form .login-button {
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 6px;
    color: #000;
    font-size: 19px;
    font-weight: 700;
    background: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
}

.login-form p {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
    color: #dcdcdc; 
}

.login-form p a {
    text-decoration: none;
    color: #fff;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-form .close-login-form {
    position: absolute;
    right: 1.6rem;
    top: 1rem;
    font-size: 30px;
    opacity: 0;
    cursor: pointer;
    user-select: none;

}

.login-form:hover .close-login-form {
    opacity: 1;
}


body.opened::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000005b;
}

body.opened video {
    transform: scale(1.8);
}

body.opened .login-form {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.login-form {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}